<%- include partials/headerMainUniversity %>
<div class="maindiv">
    <nav>
        <aside class="sideleft">
            <div><a href="/addRecordProgramme">+ Record Programme</a></div>
        </aside>
    </nav>
    <nav>
        <aside class="sideright"><h1>Programme List</h1>
            <div class="searchbar">
                <input type="text" placeholder="Search" class="search" required>
                <input type="button" value="Search" class="buttonsearch">
            </div>
            <table cellspacing='0'>
                <thead>
                    <tr>
                        <th>No</th>
                        <th>Programme Name</th>
                        <th>Description</th>
                        <th>Closing Date</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <% if(programmeList.length > 0) { let i=1; %>
                        <% programmeList.forEach(function(programme) { %>
                            <tr>
                                <td><%= i %></td>
                                <td><%= programme.programmeName  %></td>
                                <td><%= programme.description  %></td>
                                <td><%= moment(programme.closingDate).format("D MMMM YYYY") %></td>
                                <td>
                                    <img src="./Logo/Edit.png" alt="Edit" class="tableimg">
                                    <img src="./Logo/Delete.png" alt="Delete" class="tableimg">
                                </td>                                    
                            </tr>
                        <% i++; }) %>
                        <% } else { %>
                            <tr>
                                <td>No Data Found</td>
                            </tr>
                    <% } %>
                </tbody>
            </table>
        </aside>
    </nav>
</div>
<%- include partials/footerSAS %>