<%- include ../partials/headerMainApplicant %>
<div class="maindiv">
    <nav>
        <aside class="sideright1"><h1>Programme Details</h1>
            <!-- <div class="searchbar">
                <input type="text" placeholder="Search" class="search" required>
                <input type="button" value="Search" class="buttonsearch">
            </div> -->
            <table cellspacing='0'>
                <thead>
                    <tr>
                        <th>Programme Name</th>
                        <% if(application === null) { %>
                            <th>Description</th>
                            <th>Closing Date</th>
                            <th>Action</th>
                        <% } else if(application.programID.equals(program._id) && application.applicantID.equals(userId)) { %>
                            <th>Application Date</th>
                            <th>Status</th>
                        <% } %> 
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><%= program.programmeName %></td>
                        <% if(application === null) { %>
                            <td><%= program.description %></td>
                            <td><%= moment(program.closingDate).format("D MMMM YYYY") %></td>
                            <td>
                                <a href="/applicant/qualification/<%= program._id %>" class="btnReview">Apply
                                </a>
                            </td>    
                            <% } else if(application.programID.equals(program._id) && application.applicantID.equals(userId)) { %> 
                            <td><%= moment(application.applicationDate).format("D MMMM YYYY") %></td>
                            <td><span class="badge badge-pill badge-<%= application.status === 'NEW' ? 'info' : application.status === 'SUCCESSFUL' ? 'success' : 'danger' %>"><%= application.status %></span></td>
                            <% } %>             
                    </tr>
                </tbody>
            </table>
        </aside>
    </nav>
</div>
<%- include ../partials/footerSAS %>