<%- include ../partials/headerMainSAS %>
<div class="maindiv">
    <nav>
        <aside class="sideleft">
            <div><a href='/sas/new/<%= univId %>'>+ Add Admin</a></div>
        </aside>
    </nav>
    <nav>
        <aside class="sideright"><h1>University Admin List</h1>
            <!-- <div class="searchbar">
                <input type="text" placeholder="Search" class="search" required>
                <input type="button" value="Search" class="buttonsearch">
            </div> -->
            <table cellspacing='0'>
                <thead>
                    <tr>
                        <th>No</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <% if(adminList.users.length > 0) { let i=1; %>
                        <% adminList.users.forEach(function(admin) { %>
                            <tr>
                                <th><%= i %></th>
                                <td><%= admin.name %></td>
                                <td><%= admin.email %></td>
                                <td>
                                    <!-- <form action="/sas/university/admin/<%= admin._id %>/<%= adminList._id %>?_method=DELETE" method="POST">
                                        <a href="/sas/university/admin/edit/<%= admin._id %>/<%= adminList._id %>" class="buttonimg"><img src="../Logo/Edit.png" alt="Edit" class="tableimg"></a>
                                        <button type="submit" class="buttonimg"><img src="../Logo/Delete.png" alt="Delete" class="tableimg"></button>
                                    </form> -->
                                    <button type="submit" class="buttonimg">
                                        <a href="/sas/university/admin/edit/<%= admin._id %>/<%= adminList._id %>" type="submit" class="tableimg">Edit</a>
                                    </button>
                                    <form style="margin-top: 10px;" action="/sas/university/admin/<%= admin._id %>/<%= adminList._id %>?_method=DELETE" method="POST">
                                        <button type="submit" class="buttonimg"><a class="tableimg">Delete</a></button>
                                    </form>
                                </td>                                    
                            </tr>
                        <% i++; }) %>
                    <% } else { %>
                        <tr >
                            <td  colspan="5">No Data Found</td>
                          </tr>
                    <% } %>
                </tbody>
            </table>
        </aside>
    </nav>
</div>
<%- include ../partials/footerSAS %>